<div class="h-screen bg-red-300 grid grid-cols-1 lg:grid-cols-2">
  <div class="bg-white hidden lg:block">
    <img
      class="object-cover h-full"
      src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
  </div>
  <div class="flex flex-col p-3 md:p-5 justify-center">
    <h1 class="text-white font-bold text-3xl md:text-6xl">MD Computers</h1>
    <p class="text-white">
      Shop Online for monitor, SMPS, HDD, flash drive, Motherboard, processor,
      networking, antivirus printer of ASUS, MSI, CORSAIR, COOLER MASTER, ZOTAC,
    </p>
  </div>
</div>
<div class="md:p-4">
    <div class="px-3 md:px-5 mt-10 mb-3">
        <h1 class="text-3xl text-red-700 font-bold">FEATURED SECTION</h1>
      </div>
      <div
        class="px-3 md:px-5 lg:px-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 mb-5"
      >
        <div>
          <img
            class="h-96 object-cover w-100"
            src="https://cdn.mdcomputers.in/image/catalog/2023/jan/21-01-23/chair-210x270px.webp"
            alt=""
          />
          <button
            class="py-1 text-center w-100 bg-red-500 hover:bg-red-800 text-white font-bold text-3xl"
          >
            SHOP NOW
          </button>
        </div>
      
        <div>
          <img
            class="h-96 object-cover w-100"
            src="https://cdn.mdcomputers.in/image/catalog/2023/jan/21-01-23/headset-210x270px.webp"
            alt=""
          />
          <button
            class="py-1 text-center w-100 bg-red-500 hover:bg-red-800 text-white font-bold text-3xl"
          >
            SHOP NOW
          </button>
        </div>
      
        <div>
          <img
            class="h-96 object-cover w-100"
            src="https://cdn.mdcomputers.in/image/catalog/2023/jan/21-01-23/keyboard-210x270px.webp"
            alt=""
          />
          <button
            class="py-1 text-center w-100 bg-red-500 hover:bg-red-800 text-white font-bold text-3xl"
          >
            SHOP NOW
          </button>
        </div>
      
        <div>
          <img
            class="h-96 object-cover w-100"
            src="https://cdn.mdcomputers.in/image/catalog/2023/jan/21-01-23/mouse-210x270px.webp"
            alt=""
          />
          <button
            class="py-1 text-center w-100 bg-red-500 hover:bg-red-800 text-white font-bold text-3xl"
          >
            SHOP NOW
          </button>
        </div>
      </div>
</div>
